# Default values for ror.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# This will set the replicaset count more information can be found here: https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/
replicaCount: 1

# This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
image:
  repository: nginx
  # This sets the pull policy for images.
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

# This is for the secretes for pulling an image from a private repository more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
imagePullSecrets: 
  - name: regcred
# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""

# This section builds out the service account more information can be found here: https://kubernetes.io/docs/concepts/security/service-accounts/
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# RBAC configuration for applications that need K8s API access
# This creates Role and RoleBinding resources in the same namespace
rbac:
  # Specifies whether RBAC resources should be created
  create: false
  # Rules for the Role
  rules: []
    # Example: Grant access to manage Ingress resources
    # - apiGroups: ["networking.k8s.io"]
    #   resources: ["ingresses"]
    #   verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
    # Example: Read-only access to Certificates
    # - apiGroups: ["cert-manager.io"]
    #   resources: ["certificates"]
    #   verbs: ["get", "list", "watch"]
    # Example: Read-only access to Secrets
    # - apiGroups: [""]
    #   resources: ["secrets"]
    #   verbs: ["get", "list", "watch"]

# This is for setting Kubernetes Annotations to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
podAnnotations: {}
# This is for setting Kubernetes Labels to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
podLabels: {}

podSecurityContext: &podSecurityContext
  fsGroup: 2000

securityContext: &securityContext
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1000
  allowPrivilegeEscalation: false
  seccompProfile:
    type: RuntimeDefault

# This is for setting up a service more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/
service:
  # This sets the service type more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types
  type: ClusterIP
  # This sets the ports more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#field-spec-ports
  port: 80

# This block is for setting up the ingress for more information can be found here: https://kubernetes.io/docs/concepts/services-networking/ingress/
ingress:
  enabled: true
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
   #limits:
     #cpu: 100m
     #memory: 512Mi
   #requests:
     #cpu: 10m
     #memory: 64Mi

# This is to setup the liveness and readiness probes more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/
livenessProbe:
  httpGet:
    path: /up
    port: http
  periodSeconds: 3
  initialDelaySeconds: 15
  failureThreshold: 3
readinessProbe:
  httpGet:
    path: /up
    port: http
  initialDelaySeconds: 15
  failureThreshold: 3
  periodSeconds: 3

minReadySeconds: 30

strategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 0

containerPort: 3000

initContainer: 
  name: migrations
  props:
    workingDir: /rails
    command:
      - /rails/bin/rails
      - db:migrate
      #- "sh"
      #- "-c"
      #- "/bin/rails db:migrate"

webServer:
  volumes: []
# - name: foo
#   secret:
#     secretName: mysecret
#     optional: false

# Additional volumeMounts on the output Deployment definition.
  volumeMounts: []
# - name: foo
#   mountPath: "/etc/foo"
#   readOnly: true


jobsProcessing: 
  enabled: true
  replicaCount: 1
  resources: {}
  command:
    - /rails/bin/jobs
# Additional volumes on the output Deployment definition.
  volumes: []
# - name: foo
#   secret:
#     secretName: mysecret
#     optional: false

# Additional volumeMounts on the output Deployment definition.
  volumeMounts: []
# - name: foo
#   mountPath: "/etc/foo"
#   readOnly: true

env:
  - name: HOST_IP
    valueFrom:
      fieldRef:
        fieldPath: status.hostIP
  #{{- if .Values.enableOtelExporter }}
  #- name: OTEL_EXPORTER_OTLP_ENDPOINT
    #value: "http://$(HOST_IP):4317" # sends to gRPC receiver on port 4317
    ## value: "http://$(HOST_IP):4318" # sends to HTTP receiver on port 4318
  #{{- end }}
  # https://docs.datadoghq.com/tracing/trace_collection/library_config/go/
  - name: DD_AGENT_HOST
    value: "$(HOST_IP)" 
  - name: OPEN_TELEMETRY_DSN
    value: "$(HOST_IP):8126" 

# This section is for setting up autoscaling more information can be found here: https://kubernetes.io/docs/concepts/workloads/autoscaling/
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

# Additional volumes on the output Deployment definition.
volumes:
  - name: rails-tmp
    emptyDir:
      medium: Memory
  - name: tmp
    emptyDir:
      medium: Memory

# Additional volumeMounts on the output Deployment definition.
volumeMounts:
  - name: rails-tmp
    mountPath: /rails/tmp
    readOnly: false
  - name: tmp
    mountPath: /tmp
    readOnly: false

nodeSelector: {}

tolerations: []

affinity: {}

# ConfigMaps to create and optionally mount as volumes
# Each configMap creates a ConfigMap resource and can be mounted into pods
# Example:
# configMaps:
#   - name: robots
#     data:
#       robots.txt: |
#         User-agent: *
#         Allow: /
#     volumeMounts:
#       - mountPath: /rails/public/robots.txt
#         subPath: robots.txt
#         readOnly: true
configMaps: []
